html, body {
    height: 90%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

a {
    color: inherit;
}

.flex {
    display: flex;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.container div {
    margin-top: 0;
}

.left_panel {
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    margin: 10px 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.right_panel {
    border: 1px solid #dedede;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    height: 100%;
    position: relative;
    overflow: auto;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no_pad {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top_bar {
    width: 100%;
    height: 50px;
    border: 1px solid #dedede;
    background-color: #f1f1f1;
}

.left_panel_bar {
    width: 20%;    
    background-color: #f1f1f1;
    border-right: solid 1px #dedede;
    text-align: center;
}

.right_panel_bar {
    width: 80%;
    background-color: #f1f1f1;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}

.menu_option {
    float: right;
}

.menu_option a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.img_btn a:hover {
    background-color: #111;
}

.logo {
    max-width: 50px;
    max-height: 50px;
}

.left_panel_bar p {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

#add_to_do {
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #333;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
    max-width: 25px;
    max-height: 25px;
    display: inline-block;
    border-radius: 8px;
}

.progress {
    width: 7.5em;
    height: 7.5em;
    text-align: center;
    line-height: 7.5em;
    border-radius: 1em;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
}

.progress_text {
    width: 7.5em;
    text-align: center;
    margin: 0 1em;
    display: inline-block;
    color:black;
    position: relative;
}

.progress::before{
    content: '';
    position: absolute;
    top: 3.9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
}

.progress:first-child::before {
    display: none;
}

.active {
    background: blue;
}

#task_list {
    align-content: center;
    text-align: center;
}